/*Inicio del div1*/
#div1{
    background-color: gray;
    height: 700px;
    width: 1377px;
}
/*Fin del Div1*/

/*Inicio del Div2*/
#div2{
    background-image: url(hieva.jpg);
    height: 700px;
}
/*Fin del Div2*/


/*borde superior*/
#madera-top{
    background-image: url(madera1.PNG);
    background-repeat: no-repeat;
    background-size: 1377px;
    border-bottom: rgb(89, 51, 6) 3px solid ;
    width: 1377px;
    height: 35px;
    position: absolute;
}
/*Fin del borde superior*/

/*borde inferior*/
#madera-botton{
    background-image: url(madera2.PNG);
    background-repeat: no-repeat;
    background-size: 1377px;
    border-top: rgb(89, 51, 6) 3px solid ;
    width: 1377px;
    height: 35px;
    position: fixed;
    bottom: 0;
}
/*fin del borde inferior*/

/*inicio div mesa*/
#mesa{
    background-image: url(mader2.2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 620px;
    width: 1200px;
    position: absolute;
    left: 100px;
    top: 50px;
    border-radius: 20px;
    border: rgb(89, 51, 6) 3px solid;
}
/*fin de mesa*/

/*libro*/
#libro{
    background-image: linear-gradient(rgb(98, 97, 97), rgb(24, 24, 24) 15%,rgb(24, 24, 24) 85%,rgba(98, 97, 97, 0.98));
    height: 580px;
    width: 1000px;
    top: 15px;
    left: 100px;
    position: absolute;
    border: rgb(83, 71, 71) 3px solid;
    box-shadow: 0px 0px 2px 2px;
}

/*poligono inferior*/
#triangulo1 {
    width: 0;
    height: 0;
    border-right: 15px solid transparent ;
    border-top: 15px solid transparent;
    border-left: 15px solid rgb(163, 76, 54);
    border-bottom: 15px solid rgb(163, 76, 54);
    position: relative;
    top: 544px;
}
/*poligono superior*/
#triangulo2 {
    width: 0;
    height: 0;
    border-right: 15px solid rgb(163, 76, 54);
    border-top: 15px solid rgb(163, 76, 54);
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: relative;
    left: 964px;
    top: -30px;
}

/*lineas del fondo*/
#lineas-fondo{
    background-color: transparent;
    border-left: rgba(177, 174, 174, 0.74) 2px solid;
    border-right: rgba(177, 174, 174, 0.74) 2px solid;
    height: 574px;
    width: 60px;
    top: 0px;
    left: 467px;
    position: absolute;
}

/*paginas*/
#pagina1{
    background-image: linear-gradient(to right, rgb(217, 217, 217) 80%, rgb(190, 189, 189));
    height: 550px;
    width: 480px;
    position: absolute;
    left: 18px;
    top: 15px;
    box-shadow: 0px 0px 20px;
}

#pagina2{
    background-image: linear-gradient(to left, rgb(217, 217, 217) 80%, rgb(190, 189, 189));
    height: 550px;
    width: 480px;
    position: absolute;
    left: 500px;
    top: 15px;
    box-shadow: 0px 0px 5px;
}
/*fin de paginas*/

/*contenedor de las lineas*/
#cont-lineas{
    background-color: transparent;
    height: 550px;
    width: 480px;
    position: absolute;
    top: -16px;
}

.lin{
    background-color: rgb(17, 0, 255);
    height: 2px;
    margin-bottom: 35px;
    width: 480px;
    right: 10px;
    box-shadow: 0px 0px 2px;
}
/*fin del contenerdor*/

/*Etiqueta CV*/
#CV{
    background-color: rgb(45, 233, 92);
    height: 30px;
    width: 100px;
    position: absolute;
    top: -14px;
    left: 30px;
    box-shadow: 0px 0px 2px;
}
#cv{
    font-size: 20px;
    font-family: serif;
    text-align: center;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}
/*Etiqueta habilities*/
#Habilidades{
    background-color: rgb(233, 230, 45);
    height: 30px;
    width: 140px;
    position: absolute;
    top: -14px;
    left: 135px;
    box-shadow: 0px 0px 2px;
    rotate: 2deg;
    
}
#Hab{
    font-size: 20px;
    font-family: Courier;
    text-align: center;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

/*Etiqueta Proyecto*/
#Proyectos{
    background-color: rgb(233, 67, 45);
    height: 30px;
    width: 140px;
    position: absolute;
    top: -14px;
    left: 280px;
    box-shadow: 0px 0px 2px;
    rotate: 1deg;
}
#pro{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Courier;
    text-align: center;
    text-shadow: 0px 0px 1px rgb(253, 253, 253);
}
